body {
    background-color: black;
}

#game {
    background: linear-gradient(10deg, red, black);
    text-align: center;
    border: 5px solid rgb(128, 0, 90);
    border-radius: 50px;
    
    padding: 30px
}

#stats {
    color: white;
}

#monsterStats {
    color: white;
    font-weight: bold;
}